/* App.css */

/* General styles */
body, html {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  height: 100%;
}

/* App container */
.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  height: 100vh; /* Set height to viewport height */
}

/* Header styles */
.App-header {
  background-color: #282c34;
  padding: 20px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.App-logo {
  width: 150px;
  margin-bottom: 20px;
}

/* Main content */
main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

/* Button styles */
button {
  background: linear-gradient(145deg, #6ab04c, #4CAF50);
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 10px 2px;
  cursor: pointer;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
  width: 80%;
}

button:hover {
  background: linear-gradient(145deg, #4CAF50, #45a049);
  transform: translateY(-2px);
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}

button:active {
  transform: translateY(0);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Embedded form container */
.ml-embedded {
  margin: 20px auto;
  padding: 20px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 90%;
}

/* Mobile responsive styles */
@media (max-width: 600px) {
  .App-header {
    font-size: 24px;
  }

  button {
    width: 90%;
    padding: 12px;
    font-size: 14px;
  }

  main {
    padding: 10px;
  }

  .ml-embedded {
    padding: 10px;
  }
}
